{block title}Add gallery{/block}

{block head}{/block}

{block foot}{/block}

{block content}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Add gallery
			<div class="pull-right">
				<a class="btn btn-default" n:href="Galleries:">back</a>
			</div>
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		{control galleryForm}
	</div>
</div>

{/block}
